@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
body{
    font-family: "Inter", sans-serif;
}

/* header section style */
.header-section{
    width: 1440px;
height: 652px;
margin:0 auto;
background-image: url(./B10A1-Challenge-Begins-main/assets/Hero-bg.png);
background-repeat: no-repeat;
background-position: center;
margin-top: 50px;
}
.header-section-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 652px;


}
.header-section-title h1{
    display:flex;
    text-align: center;
    margin-left: 350px;
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 48px;
font-weight: 800;
}
.header-section-title p{
    display:flex;
    text-align: center;
    margin-left: 80px;
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
}
.header-section-button button{
color:#ffffff;
font-family: Azeret Mono;
font-size: 30px;
font-weight: 600;
display:flex;
background-color: black;
border-radius: 5px;
margin:50px;


}
.header-section-button a{
    color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;

}
/* section 1 style */
.section-1{
    width: 1140px;
height: 1395px;
border-radius: 16px;
background: rgba(13, 19, 33, 0.02);
margin:0 auto;
margin-top: 100px;
}
.section-1-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 1395px;


}
.section-1-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:300px ;
    text-align: center;
    margin-bottom: 100px;
    

}
.para{
    margin:0 auto;
}
.section-1-items-1{
    display:flex;
    width: 946px;
height: 336px;
border-radius: 16px;
background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
margin-bottom: 50px;
}
.section-1-items-1 img{
    margin-top: 30px;
    
}
.section-1-item-1 {
    margin-top: 20px;
    margin-left: 20px;

}
 h1 {
    margin-top: 20px;
}
p{
    
 margin-top: 40px;
 margin-bottom: 40px;
 
 
    
}


.section-1-items-2{
    display:flex;
    width: 946px;
height: 336px;
border-radius: 16px;
background: linear-gradient(270.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
margin-bottom: 100px;

}
.section-1-item-2{
    margin-left: 100px;



}
.section-1-item-2 h2{
    margin-top: 30px;
}

.section-1-items-3{
    display:flex;
    width: 946px;
height: 336px;
border-radius: 16px;
background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
margin-bottom: 100px;

}
.section-1-item-3{
    margin-top:80px;
    margin-left: 20px;
}
.section-1-image{
    margin-left: 100px;
    margin-top: 20px;
}
span button{
    width: 208px;
height: 66px;
border-radius: 8px;
background: rgb(13, 19, 33);
padding: 21px 24px 21px 24px;
color:#ffffff;
color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;

}
span button a{
    text-decoration: none;
}
button{
    width: 150px;
height: 48px;
} 

/* section 2 style */
.section-2{
    display:flex;
    width:1140px;
height: 777px;
flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:0 auto;
    margin-top: 100px;
    text-align: center;

}
.section-2 h1{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 800;
}
.section-2-title p{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
}
iframe{
    width: 1040px;
height: 614px;
padding: 32px;



box-sizing: border-box;
border: 2px solid rgba(13, 19, 33, 0.2);
border-radius: 16px;
}
.video{
    border-radius: 16px;
}

/* section 3 style */
.section-3{
    width: 1140px;
height: 460px;
margin:0 auto;
margin-top:100px;

}
.section-3-heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    text-align: center;
    
    
    
}
.section-3-items{
    margin:0;
    padding:0;
    box-sizing: border-box;
    
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
    
}
.section-3-item-1{
    width:30%;
    
    
height: 299px;
background-color: rgba(255, 76, 30, 0.05);
border-radius: 8px;
box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
margin:10px;

    
}
h4{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 24px;
font-weight: 800;
}
p{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
}
a{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 700;
}
  .section-3-item-2{
    width:30%;
    height: 299px;
    border-radius: 8px;
box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
margin:10px;
background-color: rgba(0, 76, 232, 0.05);
  }
  .section-3-item-3{
    width:30%;
    height: 299px;
    border-radius: 8px;
box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
  margin:10px;
  background-color: rgba(255, 223, 0, 0.05);
  }


/* style footer section */
.footer-section{
    width: 1140px;
height: 313px;
margin:0 auto;
margin-top:200px;

border-radius: 10px;
background-image: url(./B10A1-Challenge-Begins-main/assets/handshake.jpg);
background-position: center;
background-repeat: no-repeat;
color:#ffffff;
background: rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),url(Email);


}
.container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 313px;
    text-align: center;
}
.footer-heading h2{
    color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 700;
}
.footer-heading p{
    color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
}
.footer-form{
    display:flex;
}
.footer-form input{
 width: 548px;
height: 57px;
box-sizing: border-box;

border-radius: 8px;
background: rgb(255, 255, 255);
}
.footer-form button{
    width: 120px;
height: 57px;
border-radius: 8px;
background: rgb(255, 255, 255);
margin-left: 20px;
}
.end-section{
    width: 1440px;
height: 100px;
border-radius: 16px;
background: rgba(13, 19, 33, 0.03);

margin: 0 auto;
 margin-top: 100px;

  
}
 .footer-end{
    display:flex;
    justify-content: space-between;
    flex-direction: row;
    width: 1240px;
height: 36px;
    
    margin-left: 50px;
}
.footer-end-heading{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
margin-left: 100px;
margin-top: 10px;
}
.footer-end-image{
    margin-top: 20px;
    
   
}
.footer-end-image img{
    margin: 10px;
    


} 